[submodule "dependencies/vmprofiler"]
	path = dependencies/vmprofiler
	url = https://githacks.org/vmp2/vmprofiler.git
[submodule "dependencies/cli-parser"]
	path = dependencies/cli-parser
	url = https://githacks.org/_xeroxz/cli-parser.git